body {
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg); /* I have uploaeded a Hd photo */
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    color :red
}
ul{
    margin: 50px;
    padding: 5px;
    color: blueviolet;


}
.per p{
    color: greenyellow;
}
