h1{
    color :red
}
ul{
    margin: 50px;
    padding: 5px;
    color: blueviolet;


}
.per p{
    color: greenyellow;
}
img
{
    width: 400px;
    height: 300px;
    margin: 20px;
    border-radius: 100px;
}